@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap');

:root{
    --orange: #F16718;
    --yellow: #FF9B62;
    --dark-blue: #162542;
    --light-blue: #7B8BAD;
    --gray: #E8EFF2;
    --white: #FFFFFF;

    --bold: 900;
    --regular: 400;
    --semi-bold: 700;

    --barlow-font: 'Barlow', sans-serif;
}

/* image icons */
.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: var(--orange);
    border-radius: 1rem;
}

h1,h2,h3,button{
    color: var(--dark-blue);
    text-transform: uppercase;
}
h1,h2,h3{
    font-weight: var(--bold);
}
button{
    font-weight: var(--semi-bold);
}
p{
    color: var(--light-blue);
    font-weight: var(--regular);
    font-size: 1rem;
    line-height: 1.625rem;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--barlow-font);
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.wrapper{
    width: 23.4375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER  */
.header-line{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.ad{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24.875rem;
}
.buttons-div{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 20.4375rem;
}
.header-keyboard img{
    width: 23.25rem;
    height: 20.6875rem;
    position: relative;
    left: 0;
    border-radius: 0.5rem;
}

header h1{
    font-size: 3rem;
}




/* general buttons*/
button{
    width: 9.375rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
}
/* BUTTONS */
#button-gray{
    color: var(--dark-blue);
    background-color: var(--gray);
}
#button-orange{
    color: var(--white);
    background-color: var(--orange);
}
#button-colorless{
    background-color: transparent;
}

/* middle part */
main{
    width: 100%;
    text-align: center;
}

.header-2{
    width: 23.75rem;
    height: 12.0625rem;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

/* edit photos */
#g-k{
    width: 13.75rem;
    border-radius: 1rem;
}

#p-k{
    width: 8.0625rem;
    border-radius: 1rem;
    mix-blend-mode: multiply;
    opacity: 0.75;
    /* add color !!!*/  
}
/* adding color to img */
.header-2 div{
    background-color: var(--orange);
    border-radius: 1rem;
}

.inline-box{
    height: 14.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first h2{
    font-size: 2rem;
    line-height:2.25rem;
}

.box{
    height: 18.5625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box h3{
    font-size: 1.5rem;
    line-height: 1.75rem;
    height: auto;
}


/* FOOTER */
footer{
    display: inline-flex;
    align-items: center;
    height: 6rem;
    margin-top: 4rem;
}


@media screen and (min-width: 48rem) {
    
}