@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap');

:root{
    --orange: #F16718;
    --yellow: #FF9B62;
    --dark-blue: #162542;
    --light-blue: #7B8BAD;
    --gray: #E8EFF2;
    --white: #FFFFFF;

    --bold: 900;
    --regular: 400;
    --semi-bold: 700;

    --barlow-font: 'Barlow', sans-serif;
}

/* image icons */
.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: var(--orange);
    border-radius: 1rem;
}



body{
    font-family: var(--barlow-font);
    background-color: #F2F2F2;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

