@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap');

:root{
    --orange: #F16718;
    --yellow: #FF9B62;
    --dark-blue: #162542;
    --light-blue: #7B8BAD;
    --gray: #E8EFF2;
    --white: #FFFFFF;

    --bold: 900;
    --regular: 400;
    --semi-bold: 700;

    --barlow-font: 'Barlow', sans-serif;
}

/* image icons */
.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.0625rem;
    height: 4.0625rem;
    background-color: var(--orange);
    border-radius: 1rem;
}

h1,h2,h3,button{
    color: var(--dark-blue);
    text-transform: uppercase;
}
h1,h2,h3{
    font-weight: var(--bold);
}
button{
    font-weight: var(--semi-bold);
}
p{
    color: var(--light-blue);
    font-weight: var(--regular);
    font-size: 1rem;
    line-height: 1.625rem;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--barlow-font);
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    min-width: 25rem;
}

.wrapper{
    width: 23.4375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER  */
.header-line{
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.ad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17.875rem;
}
.buttons-div{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 20.4375rem;
}
.header-keyboard .mobile{
    width: 23.25rem;
    height: 20.6875rem;
    position: relative;
    left: 0;
    border-radius: 0.5rem;
    margin-top: 4rem;
}

header h1{
    font-size: 3rem;
}



/* general buttons*/
button{
    width: 9.375rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
}
/* BUTTONS */
#button-gray{
    color: var(--dark-blue);
    background-color: var(--gray);
}
#button-orange{
    color: var(--white);
    background-color: var(--orange);
}
#button-colorless{
    background-color: transparent;
    color: var(--light-blue)
}

/* middle part */
main{
    width: 100%;
    text-align: center;
}

.header-2{
    width: 23.75rem;
    height: 12.0625rem;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    right: 1.5rem;
    margin-top: 1.5rem;
}

/* edit photos */
.g-k{
    width: 13.75rem;
    border-radius: 1rem;
}

.p-k{
    width: 8.0625rem;
    border-radius: 1rem;
    mix-blend-mode: multiply;
    opacity: 0.75;
}
/* adding color to img */
.header-2 div{
    background-color: var(--orange);
    border-radius: 1rem;
}


.inline-box{
    margin-top: 3rem;
    height: 14.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first h2{
    font-size: 2rem;
    line-height:2.25rem;
}

.box{
    height: 18.5625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box h3{
    font-size: 1.5rem;
    line-height: 1.75rem;
    height: auto;
}


/* FOOTER */
footer{
    display: inline-flex;
    align-items: center;
    height: 6rem;
    margin-top: 4rem;
}


@media screen and (max-width: 48rem) {
    .tablet, .desktop{
        display: none;
    }
    
}

/* tablet screen - 768px */
@media screen and (min-width: 48rem) {
    .mobile, .desktop{
        display: none;
    }
    .tablet{
        display: block;
        border-radius: 1rem;
    }
    .wrapper{
        width: 43.0625rem;
    }


    /* HEADER */
    header{
        width: 100%;
    }
    .header-1{
        display: inline-flex;
        align-items: center;
    }
    .header-keyboard .tablet{
        width: 29.875rem;
        height: 25.5625rem;
        position: relative;
        right: -5rem;
    }

    /* BUTTONS */
    button{
        width: 10.9375rem;
        height: 3.625rem;
    }


    /* MAIN */
    main{
        width: 43.0625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .first{
        height: 31.25rem;
        margin-bottom: 8.875rem;
    }
    .header-2{
        position: unset;
        width: 100%;
    }
    .inline-box{
        margin-top: 4.5rem;
        width: 100%;
        flex-direction: row;
        text-align:justify;
    }
    
    .inline-box h2{
        width:15.9375rem;
    }
    .inline-box p{
        width: 24.875rem;
    }


    .second{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box{
        align-items: flex-start;
        text-align: justify;
        width: 17.5625rem;
        margin-bottom: 4.5rem;
    }
    /* IMAGES */
    .g-k{
        width: 13.75rem;
        border-radius: 1rem;
    }

    .p-k{
        width: 13.375rem;
        height: 20rem;
        border-radius: 1rem;
        mix-blend-mode: multiply;
        opacity: 0.75;
    }
    .g-k{
        width:27.8125rem;
        height: 20rem;
    }
    /* adding color to img */
    .header-2 div{
        height: 20rem;
    }
}

@media screen and (min-width: 75rem) {
    .mobile, .tablet{
        display: none;
    }
    .desktop{
        display: block;
        border-radius: 1rem;
    }

    .wrapper{
        width: 69.375rem; /* 1110px */
    }

    /* Button */
    button{
        width: 10.9375rem;
    }
    /* hover */
    #button-gray:hover{
        color: var(--white);
        background-color: var(--dark-blue);
        cursor: pointer;
    }
    #button-orange:hover{
        color: var(--white);
        background-color: var(--yellow);
        cursor: pointer;
    }
   

    
   
    /* font-size */
    header h1{
        font-size:3.5rem;
    }

    /* HEADER */
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-line{
        margin-top: 3.5rem;
        margin-bottom: 5.1875rem;
    }
    .header-1{
        width: 100%;
        justify-content: space-between;
    }
    .ad{
        width: 27.8125rem;
        height: 19.5rem;
    }
    .ad p{
        font-size: 1.125rem;
    }
    .buttons-div{
        width: 21.5rem;
    }
    .header-keyboard .desktop{
        width: 33.75rem;
        height: 30rem;
    }

    .g-k{
        height: 30rem;
        width: 27.8125rem;
    }
    .p-k{
        width: 15.9375rem;
        height: 30rem;
    } 

    main{
        display: flex;
        width: 100%;
    }

    .header-2 div{
        height: 30rem;
    }
    .header-2{
        width: 45.625rem;
        justify-content: space-between;
    }

    .first{
        display: flex;
        justify-content: space-between;
    }
    .first *{
        margin: 0;
    }
    .first{
        margin-top: 1.5rem;
    }
    .inline-box{
        display: flex;
        flex-direction: column;
        width: 15.9375rem;
        height: 15.5625rem;
        height: 29.375rem;
        justify-content: center;
    }
    .inline-box p{
        width: 100%;
        margin-top: 1rem;
    }

    .box{
        width: 15.9375rem;
        height: 20.1875rem;
        justify-items: space-between;
    }
    .box p{
        height: 8.125rem;
    }
    #bg-pattern-1{
        display: none;
        position: absolute;
        right: -7.96875rem;
        top: 12.25rem;
        z-index: -1;
    }
    #bg-pattern-2{
        display: none;
        position: absolute;
        left: -7.96875rem;
        top: 59.375rem;
        z-index: -1;
    }
}

@media screen and (min-width: 87.5rem) {
    #bg-pattern-1, #bg-pattern-2{
        display: block;
    }
}